<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head> <title> My Farm Application </title> </head>

<body>
	<!-- Ponemos el titulo -->
	<h1>My Farm Application: Your Farm</h1>
	<br>
	<br>
	Location Name: <span th:text"${farmLocationName]"/>
	<br>
	<br>
	Location Size:  <span th:text"farmLocationSize" />
	<br>
	<br>
	Money:  <span th:text"farmLocationMoney" />
	<br>
	<br>
	Chicken Count:  <span th:text"${farmChickenCount}" />
	<br>
	<br>
	Egg Count:  <span th:text"{farmEggCount}" />
	<br>
	<br>
	Cattle Count:  <span th:text"{farmCattleCount}" />
	<br>
	<br>
	Download Report
	<br>
	<br>
	<br>
	<br>
	Market:
	<!-- add market -->

</body>
</html>