<!DOCTYPE html>

<html>
<head>
<title>My Farm Application - An introduction to Java Sharks</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<!-- Ponemos el titulo -->
	<h1>My Farm Application</h1> <br>

	<h2>Welcome! Please select the farm you wish to work with</h2>
	<br>
	<br>
		<form method="GET" action="farm/">
			<input type="text" id="farm" name="farmID" placeholder="search Farm ID" />
			<input type="submit" value= "Submit" />
		</form>
		<a href="/farm">Submit </a>
	<!-- <script type="text/javascript" src="../js/index.js"></script>-->
</body>
</html>