<!DOCTYPE html>

<html>
<head>
<title>My Farm Application - An introduction to Java Sharks</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<!-- Ponemos el titulo -->
	<h1>My Farm Application</h1> <br>

	<h2>Welcome! Please select the farm you wish to work with</h2>
	<br>
	<br>
	<div>
		<form method="GET" action = "/home/farm/">

			<input type="text" id="farm" name="farmIdInput" placeholder="search Farm ID" />
			<br> <input type="submit" id="lookUpFarm" value="Search" />

		</form>
	</div>

	<!-- <script type="text/javascript" src="../js/index.js"></script>-->
</body>
</html>